h1, h2, h3, h4, p{
    text-align: center;
    color: orangered;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#skills, #other {
    display: grid;
    grid-gap: 20px;
}

/*
 * Change aspect of website according to width
 */
@media screen and (min-width: 1000px) {
    #skills, #other {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 1000px) and (min-width: 650px) {
    #skills, #other {
        grid-template-columns: 1fr 1fr;
    }

    /* Complete grid for 3 images in 2*2 grid */
    .skills-3 {
        grid-area: 2 / span 2;
    }
}

@media screen and (max-width: 650px) {
    #skills, #other {
        grid-template-columns: 1fr;
    }
}

#skills div, #other div{
    height: 500px;
    background-size: cover;
    display: grid;
    align-content: end;
}

#skills div{
    height: 600px;
}

#skills div *, #other div *{
    color: aliceblue;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('/w3images/parallax1.jpg');
    min-height: 100%;
}

.skills-1 {
    background-image: url('../assets/skills/preproduction.webp');
}

.skills-2 {
    background-image: url('../assets/skills/development.webp');
}

.skills-3 {
    background-image: url('../assets/skills/postproduction.webp');
}