html, body {
  height: 100%;
  margin: 0;
  min-width: 650px;
}

body{
  display: flex;
  flex-direction: column;
  background-image: url("/background/fond1.webp");
  background-color: #68A2FE;
  background-repeat: no-repeat;
  background-size: cover;
}

/** Text format **/
h1, h2, h3, a, p {
  font-family: Arial Rounded MT, Arial Black, sans-serif;
  color: white;
  text-decoration: none;
}

/** General information **/
.app{
  display: flex;
  flex-direction: column;
}

section {
  height: 75%;
  width: 95%;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

div, h2, h3, p {
  width: 100%;
}

div {
  height: 100%;
}

.logo{
  height: auto;
  width: auto;
}