html, body {
  height: 100%;
  margin: 0;
}

body{
  display: flex;
  flex-direction: column;
  background-image: url("/background/fond1.webp");
  background-color: #68A2FE;
  background-repeat: no-repeat;
  background-size: cover;
}

/** General information **/
.app{
  display: flex;
  flex-direction: column;
}

section {
  height: 75%;
  width: 90%;
  margin: auto;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
}

div, h2, h3, p {
  width: 100%;
}

div {
  height: 100%;
}

h1, a{
  color: white;
  text-decoration: none;
}

/*
 * HEADER
 */
header {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 60px;
}


header *{
  font-size: 30px;
}

.logo{
  margin: auto 0;
  height: auto;
  width: auto;
}