html, body, .app, #__nuxt, #__layout {
  height: 100%;
  margin: 0;
  min-width: 40rem;
}

body{
  background-image: url("/background/fond1.webp");
  background-color: #68A2FE;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/** Text format **/
* {
  font-family: Arial Rounded MT, Arial Black, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
}

/** General information **/
h2, h3, p, section {
  width: 100%;
}